* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.container {
	max-width: 600px;
	margin: auto;
	padding: 20px;
}

.chatbox {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.chatlog {
	height: 2000px;
	overflow: auto;
	padding: 30px 20px;
}

.msg {
	display: flex;
	align-items: flex-end;
	margin-bottom: 30px;
	animation-name: fadeIn;
	animation-duration: 0.3s;
}

.msg.user {
	flex-direction: row-reverse;
}

.msg img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 15px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.msg p {
	flex: 1;
	background-color: #f9f9f9;
	padding: 15px 20px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	margin: 0;
	font-size: 16px;
	line-height: 1.5;
}

.chatinput {
	display: flex;
	align-items: center;
	padding: 20px;
}

.chatinput input[type="text"] {
	flex: 1;
	padding: 15px 20px;
	background-color: #f9f9f9;
	border: none;
	border-radius: 20px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	line-height: 1.5;
}

.chatinput button {
	background-color: #4e8cff;
	color: #fff;
	border: none;
	padding: 15px 20px;
	border-radius: 20px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	margin-left: 20px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.chatinput button:hover {
	background-color: #0051cc;
}